<h3>Contact us</h3>
<form id="contact" action="#">
    <div>
        <label for="FullName">Full name</label>
        <input type="text" name="FullName" required>
    </div>
    <div class="d-f fd-row fg-2rem">
        <div class="form-blk-part">
            <label for="Company">Company</label>
            <input type="text" name="Company" required>
        </div>
        <div class="form-blk-part">
            <label for="Phone">Phone</label>
            <input type="tel" name="Phone" required>
        </div>   
    </div>
    <div>
        <label for="Email">Email</label>
        <input type="email" name="Email" required>
    </div>   
    <div>
        <label for="Query">Your query</label>
        <textarea name="Query" id="" cols="30" rows="5" required></textarea>
    </div>
    <div class="">
        <input type="submit" name="submit" id="">
    </div>   
</form>
<script src="/public/js/contact.js"></script>