<nav class="navbar navbar-light bg-light admin-navbar">
    <a class="main-logo" href="/">
        <img src="/public/images/icons/TechColabSingleLineLogo.png" alt="">
    </a>        
    <div class="user-nav-item">
        <a class="user-nav-item-text <%= Content=='Home' ? 'active-header' : '' %>"  href="/">Home</a>
    </div>
    <div class="user-nav-item">
        <a class="user-nav-item-text <%= Content=='Projects' ? 'active-header' : '' %>"" href="/Projects">Projects</a>
    </div>
    <div class="user-nav-item">
        <a class="user-nav-item-text <%= Content=='Students' ? 'active-header' : '' %>"" href="/Students">Students</a>
    </div>
</nav>
