<script src="/public/js/projects.js" type="module"></script>
<div class="frost hide"></div>
<div class="tile-container"></div>
<div class="floating-box hide">
    <div class="box-content"></div>
    <div class="box-footer">
        <button>Previous</button>
        <button>Close</button>
        <button>Next</button>
    </div>
</div>


