<div class="col-100">
    <label for="Files">Choose files</label>
    <input type="file" <%- multiple ? 'multiple' : '' %> name="Files" <%- `id=${elementId}` %>>
    <div class="flex-box attachedFiles"></div>
</div>