
<div class="nav-sidebar">
    <div class="nav-top"></div>
    <ul class="nav-list-items d-f fd-col" id="navigation">
        <li>
            <a class="d-f col-100 nav-btn">
                <img src="/public/images/icons/student.svg" alt="">
                <span>Students</span>
            </a>
            <div class="submenu hide" id="studentSubMenu">
                <ul class="nav-list-items d-f fd-col">
                    <li>
                        <a href="/admin/addStudent" class="d-f col-100 nav-btn">
                            <img src="/public/images/icons/add-user.svg" alt="">
                            <span>Add</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/students" class="d-f col-100 nav-btn">
                            <img src="/public/images/icons/add-user.svg" alt="">
                            <span>Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a class="d-f col-100 nav-btn">
                <img src="/public/images/icons/blueprint.svg" alt="">
                <span>Projects</span>
            </a>
            <div class="submenu hide" id="projectSubmenu">
                <ul class="nav-list-items d-f fd-col">
                    <li>
                        <a href="/admin/addProject" class="d-f col-100 nav-btn">
                            <img src="/public/images/icons/add-user.svg" alt="">
                            <span>Add</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/projects" class="d-f col-100 nav-btn">
                            <img src="/public/images/icons/add-user.svg" alt="">
                            <span>Search</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <a class="d-f col-100 nav-btn" href="/admin/about">
                <img src="/public/images/icons/about.svg" alt="">
                <span>About</span>
            </a>
            <div class="submenu hide" id="studentSubMenu">
                <ul class="nav-list-items d-f fd-col">
                    <li>
                        <a href="/addStudent" class="d-f col-100 nav-btn">
                            <img src="/public/images/icons/add-user.svg" alt="">
                            <span>Edit</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
    <div class="nav-bottom">

    </div>
</div>