:root{

    --std-fc: #c7e5ff;
    --std-btn-bt: #041c52

}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

* {
    font-family: 'Poppins', sans-serif;
}

*:hover{ cursor: pointer; }
.disabled{ cursor: not-allowed; }


#tech-colab-logo{
    object-fit:cover;
    width: 6em;
}

.admin-navbar{
    padding: 1.5em;
}

.admin-container{
}

.admin-login-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-login-form{
}

.custom-btn{
    background: var(--std-btn-bt);
    color: var(--std-fc);
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: auto;
}
.btn-img{
    max-height: 22px;
    margin-right: 6px;
}
.username-input-div, .password-input-div{
    display: flex;
    flex-direction: column;
}


/* Admin Students */
.student-card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
}

.student-card-body{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.student-image{
    max-height: 7.5rem;
}

.student-card-button{
    display: flex;
    margin-top: auto;
    margin-left: auto;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    width: 50%;
}

.action-msg{
    margin: auto 15px 15px 15px;
}

form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
form > div{ 
    display: grid;
    box-sizing: border-box;
    padding: 6px;
}

.dropdown{
    position: absolute;
    background: #b2d6f5;
    max-height: 20vh;
    overflow: auto;
    width: 100%;
}

.dropdown::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background-color: aliceblue
}
.dropdown::-webkit-scrollbar-thumb{
    background-color: rgb(15, 120, 240);
}

.result{
    padding: 5px;
    border-bottom: 1px solid #badfff;
}
.result:hover{ 
    background: #86959c;
    color: aliceblue;
    border-bottom: 1px solid #3da5ff;
}
.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: .25rem;
    padding: 10px;
}

.selected-opt{
    padding: 6px;
    color: aliceblue;
    background: linear-gradient(to bottom left,#216e93,#21648a,#1f5881);
    border: 1px solid #0081ff;
    gap: 2px;
    box-shadow: 1px 1px 7px 0 dodgerblue;
    border-radius: 3px;
}
.selected-opt img{ max-height: 22px; }

.hide{ display: none; }
.p-rel{ position: relative; }
.d-f{ display: flex; }
.right{ justify-content: flex-end;}
.col-50{ width: 50%; }
.col-100{ width: 100%;}