:root{

    --std-fc: #c7e5ff;
    --std-btn-bt: #041c52

}

* {
    font-family: 'Poppins', sans-serif;
}


#techColabLogo{
    object-fit:cover;
    width: 4em;
}

.custom-btn{
    background: var(--std-btn-bt);
    color: var(--std-fc);
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn-img{
    max-height: 22px;
    margin-right: 6px;
}