:root{

    --std-fc: #c7e5ff;
    --std-btn-bt: #041c52;
    --nav-bg: linear-gradient(#2c3e50,#4ca1af);
    --success: #60a127;
    --error: #f44336;
    --warn: #f79e20;
    --t-success: linear-gradient(#6ab12c,#60a127,#6ab12c);
    --t-error: linear-gradient(#d10d13,#ba0d13,#d10d13);
    --t-other: linear-gradient(#8e2ffa, #4d0c96, #8e2ffa);
	--t-theme-fit-bg: linear-gradient(#1673d4,#0569d0b8,#6283ff);

}
body{
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    animation: fadeIn .5s ease-in;
    animation-fill-mode: forwards;
    overflow: auto;
}
main{
    display: flex;
    flex: 1 0 auto;
}
* {
    font-family: 'Poppins', sans-serif;
}

*:hover{ cursor: pointer; }
.disabled{ cursor: not-allowed; }

h1{
    color: #5b7f86;
    text-shadow: -3px 2px 2px #5f9da938;
}
.main-logo{
    width: 20rem;
}

.main-logo img{
    width: 100%;
}

#tech-colab-logo{
    object-fit:cover;
    width: 6em;
}

.admin-navbar{
    padding: 1.5em;
}

.admin-container{
}

.admin-login-div{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.admin-login-form{
}

.admin-pane-outer{
    background: linear-gradient(#3f798836,#4ca1af6b);
    width: -webkit-fill-available;
    position: relative;
}

.custom-btn {
    background: #519baf;
    color: aliceblue;
    padding: 6px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: auto;
    display: flex;
    border-bottom: 1px solid transparent;
    box-shadow: 2px 1px 19px 0 #00d6ff12;
}
.custom-btn:hover{ 
    color: #2e4355;
    border-color: #00d6ffb8;
    transition: all .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.action-icon{
    display: none;
    position: absolute;
    transform: translate(2rem, 2rem);
    transform-origin: center;
}
.btn-img{
    max-height: 22px;
    margin-right: 6px;
}
.icon-btn{
    background: #445f64;
    gap: .35rem;
    padding: .35rem;
    border-bottom: 1px solid #2ab2c8;
    color: aliceblue;
    border-radius: 4px;
}
.icon-btn img{
    height: 1.5rem;
    margin: auto;
}
.icon-btn input{
    background: transparent;
    border: none;
    color: inherit;
}
.cbx{
    background: #31adffab;
    border: 1px solid #396576;
    padding: 5px;
    height: 26px;
    position: absolute;
    width: 26px;
}
.cbx input{ display: none; }
.cbx.checked::after{
    content: '';
    position: absolute;
    /* background-color: red; */
    border-left: 4px solid #d9ecfb;
    border-bottom: 4px solid #e6f4ff;
    transform: rotate(-45deg);
    width: 1.5rem;
    height: .5rem;
    left: 7%;
    bottom: 40%
}

.username-input-div, .password-input-div{
    display: flex;
    flex-direction: column;
}


/* Admin Students */
.student-card-content{
    position: relative;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: 15rem;
}

.student-card-body{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.student-image{
    height: 7.5rem;
    width: 7.5rem;
    object-fit: cover;
}
.student-image-none{
    background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIj8+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM6c3ZnanM9Imh0dHA6Ly9zdmdqcy5jb20vc3ZnanMiIHZlcnNpb249IjEuMSIgd2lkdGg9IjUxMiIgaGVpZ2h0PSI1MTIiIHg9IjAiIHk9IjAiIHZpZXdCb3g9IjAgMCA2NCA2NCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgNTEyIDUxMiIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSIgY2xhc3M9IiI+PGc+PGcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiBpZD0iVXNlciI+PGNpcmNsZSBjeD0iMzIiIGN5PSIzMiIgZmlsbD0iI2I0ZThmMSIgcj0iMzEiIGRhdGEtb3JpZ2luYWw9IiNlNmVjZmYiIHN0eWxlPSIiIGNsYXNzPSIiLz48ZyBmaWxsPSIjNDI5NGZmIj48cGF0aCBkPSJtNTYuODc3IDUwLjQ3NDhhMzEuMDY0NyAzMS4wNjQ3IDAgMCAwIC00OS43NjUxLS4wMTU2IDMwLjk2NjkgMzAuOTY2OSAwIDAgMCA0OS43NjUxLjAxNTZ6IiBmaWxsPSIjNjJhNGNiIiBkYXRhLW9yaWdpbmFsPSIjNDI5NGZmIiBzdHlsZT0iIiBjbGFzcz0iIi8+PGNpcmNsZSBjeD0iMzIiIGN5PSIyMiIgcj0iMTIiIGZpbGw9IiM2MmE0Y2IiIGRhdGEtb3JpZ2luYWw9IiM0Mjk0ZmYiIHN0eWxlPSIiIGNsYXNzPSIiLz48L2c+PC9nPjwvZz48L3N2Zz4K');
    background-size: cover;
}

.student-card-button{
    display: flex;
    margin-top: auto;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 4px;
}
.card-container{
    display: flex;
    flex-direction: row;
    gap: 2px;
    flex-wrap: wrap;
    max-height: calc(100vh - 9.5rem);
    overflow: auto;
    padding: 2rem;
    width: -webkit-fill-available;
}
.card{
    width: calc(33.33% - 2px);
    background: linear-gradient(#3f798836,#4ca1afb0)
}
.card-text{
    height: 100%;
    overflow: hidden;
}
.card-link+.card-link{ margin-left: 0;}
.action-msg{
    margin: auto 15px 15px 15px;
}
.form-container{
    padding: 2rem;
}
label{ font-weight: 600; }
.wheel-input::after{
    content: '';
    border-radius: 50%;
    border-left: 3px solid #816ece;
    border-right: 3px solid #341ec0;
    border-top: 3px solid #040442;
    border-bottom: 3px solid #1e225a;
    width: 1rem;
    height: 1rem;
    position: absolute;
    animation-name: spinInputWheel;
    animation-duration: .7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    position: absolute;
    top: 1.8rem;
    right: -1.3333333992312557rem
}
@keyframes spinInputWheel {
    50%{
        border-top-color: transparent;
        border-bottom-color: transparent;
    }
    100%{
        transform: rotate(360deg);
    }
}
input, textarea{
    outline: none;
    border: 1px solid #3f748378;
}
form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
}
form.success::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: url(/public/images/icons/success.svg);
    padding: 37% 40%;
    background: #bedbe0de;
}
form > div{ 
    display: grid;
    box-sizing: border-box;
}
.form-bar{ gap: .5rem; }
.form-part > div{
    width: 25%;
}
.form-blk-part{ flex-basis: 50%;}
.form-blk-part * {
    width: -webkit-fill-available;
}
.clear-field{
    position: absolute;
    right: 0;
    padding: 2px .35rem;
    box-sizing: border-box;
    background: #4b99a738;
    color: #646464;
    font-weight: 600;
    border-left: 1px solid #4b94a22e;
}
.modal{
    top: 8.8rem;
    left: 12rem;
}
.modal-dialog{
    margin: auto;
    width: 100%;
    max-width: unset;
    height: -webkit-fill-available;
    display: flex;
    align-content: flex-start
}
.modal-body{
    max-height: 100%;
    overflow: auto;
}
.modal-content{ 
    margin: 2rem;
    width: calc(100% - 16rem);
    height: calc(100% - 12.2rem)
}
.modal-part{ gap: .5rem; }
 .modal-part> div{
    width: 50%;
}
.modal-part label,
.modal-part input{
    display: block;
    width: 100%;
}
.dropdown{
    position: absolute;
    background: #b2d6f5;
    max-height: 20vh;
    overflow: auto;
    width: 100%;
    z-index: 10
}

.dropdown::-webkit-scrollbar{
    width: 3px;
    height: 3px;
    background-color: aliceblue
}
.dropdown::-webkit-scrollbar-thumb{
    background-color: rgb(15, 120, 240);
}

.result{
    padding: 5px;
    border-bottom: 1px solid #badfff;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.result:hover{ 
    background: #86959c;
    color: aliceblue;
    border-bottom: 1px solid #3da5ff;
}
.flex-box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: .25rem;
    padding: 10px;
}

.selected-opt{
    padding: 6px;
    color: aliceblue;
    background: linear-gradient(to bottom left,#216e93,#21648a,#1f5881);
    border: 1px solid #0081ff;
    gap: 2px;
    box-shadow: 1px 1px 7px 0 dodgerblue;
    border-radius: 3px;
    position: relative
}
.selected-opt:hover .action-icon{  display: block; }
.file-opt{ 
    background: none;
    padding: unset;
}
.file{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
}
.icon{ max-height: 2rem; }
.btn-icon{
    max-height: 23px;
    margin-left: 4px;
}
.preview-trash-bin{ margin: auto 8px; }
.page-header{ 
    padding: 1.1rem;
    margin: 0;
    box-shadow: 0px 11px 20px 0 #3a6a7a94;
    color: rgb(92, 144, 157);
}
.page-header#paneHeader{ 
    width: 13rem;
    box-shadow: unset;
    color: #caf4ff;
}
.pane-outer{ 
    background: linear-gradient(#3f798836,#4ca1af6b);
    width: -webkit-fill-available;
    position: relative;
    margin-top: 3.7rem;
}
.searchless-pane-outer{
    margin-top: 0;
}
.pane{ 
    flex: 1 0 auto;
    position: relative;
    height: 100%;
}
.pane *:is(.about-section) {
    display: flex;
    flex-direction: column;
}
.about-section section{
    flex: 1 0 100%;
    display: flex;
}
section ul li{
    list-style: none;
}
.about-section section:first-child{ min-height: 91vh;}
.list-container-grp{ gap: 4rem; }
.list-container{
    gap: .8rem;
}
.left-pane{
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
}
.center-vh{
    justify-content: center;
    align-items: center;
}
.text-pane{
    line-height: 2.5rem;
    padding: 1.75rem;
}
.text-pane a{
    color: inherit;
    text-underline-offset: .25rem;
    text-decoration-color: #54b1c2;
}
.text-pane .head{
    align-self: normal;
    margin-bottom: 1.5rem;
    margin-left: 2rem;
}
.section{ 
    position: relative;
    min-width: 50%;
}
.section em{
    font-size: 1.75rem;
    font-style: inherit;
}
.section h2{ 
    color: aliceblue;
    font-size: 2.6rem;
    font-weight: lighter;
    width: 50%;
    white-space: break-spaces;
    z-index: 1;
    margin-left: 1.5rem;
    margin-top: 25%;
}
.backdrop{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #0000005c;
}
.search-filter-box{
    display: inline-flex;
    box-shadow: 0px 11px 20px 0 #3a6a7a94;
    align-items: center;
    width: 100%;
    box-shadow: 0px 12px 20px 0 #3a6a7a94;
    border-bottom: 1px solid #4c9cb266;
    background: linear-gradient(to bottom, #447987,#4ca1af);
    position: fixed;
    top: 6.5rem;
    z-index: 15;
}
.filters{
    display: inline-flex;
    width: 100%;
    padding: 0 1.1rem;
    gap: 10px;
    margin: .1rem 0;
}
.filter{
    display: flex;
    gap: 10px;
    align-items: center;
}
.filter-label{
    color: #f0f4ff;
    font-weight: 300;color: #f0f4ff;
}
.frost{
    position: absolute;
    top: 0;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    filter: blur(4px);
    background: linear-gradient(#002e4f14, #00050aab, #000000c7);
    z-index: 10;
}
.floating-box{
    position: fixed;
    top: 10.2rem;
    padding: 0.5rem 2.5rem 2.5rem 2.5rem;
    padding-bottom: .8rem;
    width: -webkit-fill-available;
    height: calc(100vh - 10rem);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    z-index: 14;
    background: #000000a6;
}
.box-content{
    display: flex;
    flex: 1;
    gap: .8rem;
}
.box-footer{ 
    margin: auto;
    padding: .6rem;
    display: flex;
    gap: .5rem;
}
.box-footer button{
    border-radius: 4px;
    outline: none;
    background: linear-gradient(to top, #06beb6, #48b1bf99, #4ca1af);
    border: 1px solid transparent;
    padding: 6px;
    color: aliceblue;
    letter-spacing: 1px;
    font-weight: 500;
}
.box-footer button:hover{
    border: 1px solid #99fffe;
    background: transparent;
    transition: all .25s linear;
}
.tile-container{
    display: flex;
    flex-wrap: wrap;
    padding: 2.7rem 2.5rem;
    gap: .7rem;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
}
.tile-column{
    display: flex;
    flex-direction: column;
    gap: .8rem;
    height: 100%;
    max-width: 50%;
    width: -webkit-fill-available;
} 
.tile-bg{
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
}
.tile{
    width: calc((100% - 2rem) / 3);
    background: aliceblue;
    background-position: center;
    border-radius: 6px;
    position: relative;
    height: 20rem;
}
.tile-column .tile{
    width: 100%; 
}
   
.tile-header{
    padding: 1rem .8rem;
    background: #00000075;
    color: #f8f9fa;
    border-radius: 6px 6px 0 0
}
.tile-body{ 
    padding: 1rem;
}
.tile-blow-up{
    width: 100%;
    height: 93.8%;
    transition: all .3s linear;
    position: relative;
    box-shadow: 2px 3px 5px 0px #333;
}
.tile-to-half{
    width: 50vw;
    height: 100%;
    transition: width .9s;
    transition-timing-function: cubic-bezier(0.67, 0.24, 0.17, 1);
}
.project-desc{
    padding: 1em;
    display: flex;
    flex-direction: column;
    height: -webkit-fill-available;
}
.p-title{
    margin: 0.25em 0.25em 0.5em 0.25em;
    font-weight: 450;
    font-size: xx-large;
}
.p-desc{
    padding: 1em;
    
}
.p-details{ }
.project-student{
    width: 4em;
    border-radius: 50%;
    height: 4em;
    object-fit: cover;
}
.project-student-container{
    width: -webkit-fill-available;
    display: flex;
    justify-content: center;

}
.project-students{
    margin-top: auto;
    max-width: 100%;
    overflow: auto;
    align-items: center;
    gap: 1em;
    padding: 1em;
    overflow: auto;
    position: relative;
    height: fit-content;
}
.prof{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.prof img{ margin: 0 auto; }
.prof-card{
    z-index: 99;
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    /* max-width: 20vw; */
    width: 200px;
    height: 300px;
    background: aliceblue;
    border-radius: 6px; 
    box-shadow: 2px 3px 4px 2px #8594a0;
    padding: 1rem;
    gap: .3rem;
}

.prof-card > img{
    width: 80%;
    height: 50%;
    object-position: center;
}
.prof-card > .project-collaborator-name{
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}
.prof-card > .project-collaborator-desc{
    font-size: small;
    text-align: center;
    padding: 0 0.5em 0.5em 0.5em;
}
.linkedin-link{
    margin-top: auto;
    padding-bottom: 1em;
}
.linkedin-link > img{
    width: 1.5rem;
    height: 1.5rem;
}
.prof > .project-collaborator-name{
    padding-top: 0.15em;
    text-align: center;
    font-size: small;
    font-weight: 500;

}
.tile-container{
    display: flex;
    flex-flow: wrap;
    /* justify-content: space-evenly; */
    gap: 0.75rem;
    justify-content: center;
    padding: .75rem;
}
.home-directions-link{
    width: 100%;
    display: block;
    font-size: larger;
    letter-spacing: 1px;
    padding: 0.5em;
}
.home-directions-box{
    text-align: center;
    margin-top: auto;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.right-pane{
    display: flex;
    flex-direction: column;
}
.video-player{
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: calc(100% - 50px);
}
video{
    width: -webkit-fill-available;
}
.video-player video{ height: 88%; }
.video-bg{ background: black; }
.media-control{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 4px 10px;
    padding-bottom: .8rem;
    display: flex;
    gap: .4rem;
    overflow: auto;
}
.thumb {
    max-height: 4.8rem;
    max-width: 4.8rem;
    height: 4.8rem;
    object-fit: cover;
    margin: 0 auto;
    border: .15rem solid transparent;
}
.thumb-active{
    border-color: #cd6868;
}
.alert{
    position: absolute;
    bottom: 0;
    width: -webkit-fill-available;
    color: aliceblue;
}
.alert-success{ background: var(--t-success); }
.alert-danger{ background: var(--t-error); }

.navbar{
    border-bottom: 1px solid #448a9940;
    padding: .9rem;
}
.burger{
    display: none;
    background: url(/public/images/icons/menu.svg) center;
    width: 3.5rem;
    height: 3.5rem;
    background-size: contain;
}
.burger-menu-items{
    position: unset;
    display: none
}
.burger-show{ flex-direction: column; }
nav{
    position: sticky!important;
    top: 0;
    z-index: 16
}
.navbar *{ margin-bottom: 0; }
.navbar h3{ color: #3b6c7c94 }
.nav-sidebar{ background: var(--nav-bg); }
.nav-top{

}
.nav-list-items{ 
    width: 12rem;
    padding: 0
}
.nav-list-items li{
    list-style: none;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 10px;
}
.nav-list-items * { text-decoration:  none; }
.nav-list-items li img{ max-height: 2rem;}
.nav-list-items li span{ 
    margin: auto;
    margin-left: 1.2rem;
    color: #a4c1da;
}
.nav-list-items li:hover{
    border-color: #27848ac2;
    color: #c5f579c2;
    transition: all .2s linear;
}
.submenu .nav-list-items{ width: max-content; }
.nav-bottom{

}
.user-navbar{
    margin: 0.5em;
    margin-left: 1em;
    gap: 2em;
}
.user-nav-item{  padding: 0 1rem;}
.user-nav-item:nth-child(2){ 
    margin-left: auto;
}
.user-nav-item:nth-child(2){
    border-left: 1px solid #6f747480;
    border-right: 1px solid #6f747480;
}
.user-nav-item-text{
    text-decoration: none;
    color: black;
    font-size: larger;
    letter-spacing: 0.5px;
}
::-webkit-scrollbar{
    height: 4px;
    width: 10px;
    background: #ffffff00;
}
::-webkit-scrollbar-thumb{
    background-color: #b3b4b5;
    border-radius: 2px;
}

footer{
    padding: .5rem;
    display: inline-flex;
}
footer img{ max-height: 9rem; }
footer > div{
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: center;
}
footer > div:last-child{ margin-left: auto; }
footer > div:first-child{ padding: 3rem;}

.link-list{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.link-list li{
    list-style: none;
    padding: .5rem;

}

.soc-media-link{
    text-decoration: none;
    color: #3d4b4d;
}
.soc-media-link img{
    margin-right: .5rem;
}
#map{
    width: 33vw; 
    height: 100%;
    /* min-height: 33vh; */
}
.desc-container{
    width: 100%;
    position: absolute;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    padding: 0.5em 1em 0.5em 1em;
}
.student-list-card{
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    width: 32.7%;
    background: aliceblue;
    border-radius: 6px;
    box-shadow: 2px 3px 4px 2px #8594a0;
    /* padding: 0.5em; */
    position: relative;
    height: 15rem;
    gap: 1em;
    border-radius: 6px;
    text-decoration: none;
}
.student-list-background{
    background-size: cover;
    width: 100%;
    height: 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
}
.student-list-background::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #33333378

}
.student-list-mask{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000005c;
}
.student-list-background::after{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #0000005c;
}
.student-list-name{
    z-index: 10;
    color: aliceblue;
    letter-spacing: 0.8px;
    font-size: larger;
    padding-bottom: .75rem;
    opacity: 1;
    
}
.student-list-desc:hover {
    opacity: 1;
    transition: all .3s ease-in;
    transition-delay: .15s;
}
.student-list-desc{
    opacity: 0;
    color: aliceblue;
    letter-spacing: 0.6px;
    flex: 1 0;
    overflow-wrap: break-word;
    overflow: auto;
    z-index: 5;
    padding: 0 .5rem .25rem .5rem;
}

.tool-tip{
    z-index: 25;
    width: 10em;
    position: absolute;
    background: black;
    color: aliceblue;
    padding: 0.5em;
    border-radius: 0.75em;
    border: 1px solid #7f7f82;
    box-shadow: -3px 3px 12px 2px #273846;
    font-size: smaller;
    text-align: center;
    display: flex;
    align-items: center;
    top: -2em;
    left: 15em;
}
.tool-tip::after{
    content: '';
    width: 2rem;
    height: 1rem;
    background-color: #000;
    position: absolute;
    right: 7rem;
    top: 0;
    transform: skewX(59deg);
    border-left: 1px solid #a8adb2d6;
}
.tool-tip-content{
    z-index: 4;
}

.hide{ display: none!important; }
.p-rel{ position: relative; }
.d-f{ display: flex; }
.d-if{ display: inline-flex; }
.fd-row{ flex-direction: row; }
.fd-col{ flex-direction: column; }
.right{ justify-content: flex-end;}
.fg-2rem{ gap: 2rem; }
.fg-6{ gap: 6px; }
.m-center{ margin: 0 auto; }
.w-100{
    width: 100%;
}
.mob-no-scroll-y{
    overflow: hidden;
}

.col-50{ width: 50%; }
.col-100{ width: 100%;}
a:hover{
    color: rgb(70, 148, 201);
}
.active-header{
    text-underline-offset: 6px;
    text-decoration: underline;
}

@keyframes fadeIn{

    from {
        opacity: 0;
    }

    to{
        opacity: 1;
    }

}

:root{
    --lds-g1: #6ab12c;
    --lds-g2: #60a127;
    --lds-g3: #6ab12c;
    --lds-r1: #d10d13;
    --lds-r2:#ba0d13;
    --lds-r3:#d10d13;
    --lds-y1:#ffa424;
    --lds-y2:#f79e20;
    --lds-y3:#ffa424;
}

.lds-container{
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    background: #bedbe0de;
}
.page-loader{
    top: 0;
}
.lds-container > div{
    margin: auto;
    text-align: center;
}
.page-loader > div{
    position: relative;
    top:35%
}
.lds-roller {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
	margin: 0 auto;
  }
  .lds-roller div {
    animation-timing-function: ease-in-out;
    animation: lds-roller 1.2s infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
    background: var(--lds-g1);
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
    background: var(--lds-g2);
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
    background: var(--lds-g3);
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
    background: var(--lds-r1);
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
    background: var(--lds-r2);
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
    background: var(--lds-r3);
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
    background: var(--lds-y1);
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
    background: var(--lds-y2);
  }

  .image-loading::after{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

  }

  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

@media screen and (max-width: 400px){
    .home-directions-box{
        margin-bottom: 20rem;
    }
    .offer-box{
        margin-bottom: 10rem;
    }
}

@media screen and (max-width: 470px){
    .offer-section ul{
        font-size: small;
    }
    footer > div:first-child {
        padding: 2.5rem;
    }
    footer{
        font-size: small;
        max-width: 100%;
        padding: unset;
    }
}

@media screen and (max-width: 650px){
    .navbar{
        flex-wrap: unset;
    }
    .burger-menu-items{
        top: 5.9rem;
    }
    .left-pane{
        flex: 1 0 20%;
    }
    .contact-section{
        position: unset!important;
    }
    .contact-email-div{
        flex-direction: column;
    }
    .form > div{
        width: 100%;
    }
    .offer-section{
        margin-bottom: 15em;    
    }
    .offer-section ul{
        font-size: small;
    }
    .search-filter-box{
        top: 6.0rem;
    }
    .footer{
        padding: unset!important;
    }

}

@media screen and (max-width: 700px){
    .tile {
        width: 100%;
    }
    .navbar{ flex-direction: row-reverse;}
    .main-logo{ 
        transform: scale(.6) translateX(6.6rem);
    }
    .burger{ display: block; }
    .burger-menu-items{
        height: 0;
        opacity: 0;
        display: none;
        position: absolute;
        top: 6.5rem;
        left: 0;
        width: 100%;
        background: aliceblue;
        flex-direction: column;
        gap: 1rem;
        padding: 1.5rem 0;
        box-shadow: 0px 20px 20px 6px #1f253b52;
    }
    .burger-show{
        opacity: 1;
        height: fit-content;
        display: flex;
    }
    .user-nav-item:nth-child(2){ margin-left: unset; }
    .student-list-card{
        width: 100%;
    }

}

@media screen and (min-width: 700px){
    .tile-container > .tile:not(.expanded) {
        width: calc((100% - 2rem) / 2);
    }
    .burger-menu-items{
        display: flex;
    }
    .student-list-card{
        width: calc((100% - 2rem) / 2);
    }
}

@media screen and (max-width: 800px){

    .about-section section.d-f{
        flex-direction: column;
        position: relative;
    }

    .about-section section:not(:first-child) .text-pane{
        position: absolute;
        width: 100%;
        z-index: 15;
        background: #c5dde178;
        color: #000;
        height: -webkit-fill-available;
    }

    .about-section section:first-child{
        height: 25rem;
    }

    .about-section section:first-child .home-directions-box{
        padding-bottom: 14em;
    }





    .about-section section:not(:first-child) section:not(.text-pane){
        opacity: .6;
    }

    #contact :is(textarea, input){
        background-color: #f0f8ff6b;
        border-color: #3f748330;
    }

    #contact :is(textarea, input):focus{
        border-color: #333;
    }

    .box-content{
        flex-direction: column;
    }
    .box-content .tile{
        width: 100%;
    }
    .box-content .tile-column{
        max-width: unset;
    }
    .p-desc{
        padding: 1em;
        /* text-align: center; */
        overflow: auto;
        flex: 1 0 8rem;
        overflow: auto;
    }



}

@media  screen and (min-width:800px) {
    .tile-container > .tile:not(.expanded){
        width: calc((100% - 2rem) / 3);
    }
    .student-list-card{
        width: calc((100% - 2rem) / 3);
    }
    .box-content{
        flex-direction: row;
    }
    .box-content .tile{

    }
    .box-content .tile-column{
        max-width: 50%;
    }
}
  
@media screen and (max-width: 1050px){
    .search-filter-box{
        display: flex;
        flex-direction: column;
        align-items: flex-start
    }
    .filters{
        padding-bottom: 1rem;
    }
    .form-bar{
        width: -webkit-fill-available;
    }
}

  
@media screen and (min-width: 1050px){
    .filters{
        padding-bottom: unset;
    }
}

@media screen and (max-width: 1100px){
    footer{
        display: grid;
        justify-items: center;
    }
    footer > div:first{ padding: .5rem 1rem; }
    footer > div:first img{ max-height: 6rem; }
    .link-list{
        flex-direction: row;
    }
}