<div class="pane">
    <h1 class="page-header">Add a project</h1>
    <div class="addProjectForm">
        <form method="POST" enctype="multipart/form-data">
            <div>
                <label for="title">Project Title</label>
                <input type="text" name="title" id="">
            </div>
            <div>
                <label for="project_type">Project Type</label>
                <select name="project_type" id="">
                    <option value="capstone">Capstone</option>
                    <option value="techcolab">TechColab</option>
                </select>
            </div>
            <div>
                <label for="project_date">Project Date</label>
                <input type="date" name="project_date" id="">
            </div>
            <div>
                <label for="description">Biography</label>
                <!-- <input type="text" name="biography" id=""> -->
                <textarea name="description" id="" cols="30" rows="10"></textarea>
            </div>
            <%- include('../FileUpload', { elementId: 'projectFiles', multiple: true }) %>
            <input type="submit" name="submit" id="">
        </form>
    </div>
</div>
